/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  font-family: Arial, sans-serif;
} 

.flash-message {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Garante que a mensagem esteja sobre outros elementos */
  width: auto;
  min-width: 250px; /* Define um tamanho mínimo para o alerta */
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar a mensagem */
}

.flash-message .alert {
  padding-right: 35px; /* Espaço para o botão de fechar */
}

.flash-message .close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #000;
  font-size: 20px;
}

.alert-notice {
  background-color: #dff0d8;
  color: #3c763d;
}

.alert-alert {
  background-color: #f2dede;
  color: #a94442;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
}


/* Header */
header {
  width: 100%;
  background-color: #002249;
  color: white;
  margin: 0px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header img.logo {
  height: 70px;
  margin: 10px 20px 15px 60px;
}

/* Perfil */
.profile-container {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 60px 10px 20px;
}

.profile-container input[type="checkbox"] {
  display: none;
}

.profile-container label img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-card {
  display: none;
  position: absolute;
  top: 60px;
  right: 60px;
  width: 200px;
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 100;
}

.profile-container input[type="checkbox"]:checked + label + .profile-card {
  display: block;
}

.profile-header {
  padding: 1px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.profile-header h3 {
  margin: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.profile-header p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.profile-card ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.profile-card ul li {
  margin: 10px;
}

.profile-card ul li a {
  text-decoration: none;
  color: #002249;
  font-size: 14px;
}

.profile-card ul li a:hover {
  color: #0066cc;
}

