/* CSS New */
.body-reservation {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.h1-registration {
  text-align: center;
  margin-bottom: 30px; 
}

.h1-reservation {
  text-align: center;
}

h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

#p-reservation-name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 17px;
}

#p-reservation {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 35px;
}

.container {
  background-color:#f4f4f4;
  padding: 30px; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: auto; 
}

label {
  display: block;
  margin-bottom: 10px; 
}

input[type="text"], input[type="date"], select {
  width: 96%;
  padding: 12px; 
  margin-bottom: 30px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-group {
  display: block;
  margin-bottom: 20px; 
}

.checkbox-group div {
  display: flex;
  align-items: baseline;
  /* align-items: center; */ 
  /* margin-bottom: 15px; */ 
}

.checkbox-group label {
  text-align: left;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 15px;  
}

label {
  margin-bottom: 10px;
  display: block;
}

select {
  width: 100%; 
  padding: 12px; 
  margin-bottom: 30px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.buttons-new {
  display: flex;
  justify-content: space-between;
}

.buttons-new a, /* Aplica o estilo tanto a links quanto a botões */
.buttons-new button,
.button-submit-new {
  padding: 12px 25px;
  border: none; /* Remove qualquer borda preta */
  border-radius: 4px; /* Arredonda os cantos */
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; /* Remove o sublinhado dos links */
}

.back-new {
  background-color: #003366;
  color: white;
}
.back-delete {
  background-color: #a94442;
  color: white;
}

.button-submit-new {
  background-color: #28a745;
  color: #f4f4f4;
  border: none; /* Garante que o botão "Confirmar" não tenha borda */
  border-radius: 4px; /* Arredonda os cantos do botão */
}

/* Centralizar o calendário */
/* Container para o calendário */
.calendar-container {
  max-width: 1500px; /* Aumentar a largura máxima do calendário */
 margin: 0 auto; /* Centraliza o container horizontalmente */
  padding: 20px 20px 0px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Estilo básico para o título */
h2 {
  text-align: center;
  font-size: 24px; /* Aumenta o tamanho da fonte do título */
  margin-bottom: 20px; /* Aumenta o espaço abaixo do título */
}

/* Estilo do calendário */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  background-color: #f1f3f4;
  color: #202124;
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 16px; /* Tamanho da fonte dos cabeçalhos */
}

td {
  vertical-align: top;
  padding: 12px; /* Padding das células */
  border: 1px solid #ddd;
  height: 110px; /* Ajuste a altura das células aqui */
  position: relative;
}

.day {
  /* background-color: #ffffff; */
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative; /* Adiciona posição relativa */
  height: 100px; /* Defina uma altura fixa para o dia */
}

.day:hover {
  background-color: #f1f3f4;
}

.day strong {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 16px; /* Tamanho da fonte dos dias */
}

/* Cores para cada turno */
.reservation-shift-morning,
.reservation-shift-afternoon,
.reservation-shift-evening {
  position: absolute; /* Posiciona os turnos de forma absoluta */
  background-color: inherit; /* Mantém a cor específica de cada turno */
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #000000; /* Cor do texto */
  margin-top: 5px; /* Espaçamento entre turnos */
  padding: 6px; /* Espaçamento interno */
  border-radius: 3px; /* Bordas arredondadas */
  font-size: 14px; /* Tamanho da fonte */
  cursor: pointer;
  display: flex; /* Centraliza o texto verticalmente */
  align-items: center; /* Alinha verticalmente o texto */
  height: 12px;
  width: calc(100% - 20px); /* Largura total menos margem */
}

.reservation-shift-morning {
  background-color: #81D87F; /* Amarelo para Manhã */
  top: 17px; /* Distância do topo */
}

.reservation-shift-afternoon {
  background-color: #6F83AD; /* Laranja para Tarde */
  top: 47px;
}

.reservation-shift-evening {
  background-color: #D78C70; /* Azul para Noite */
  top: 77px; /* Distância do topo */
}

td.day.prev-month {
  background-color: #f1f1f1;
  color: #9e9e9e;
}

td.day.future.next-month {
  background-color: #f1f1f1;
  color: #9e9e9e;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .calendar-container {
    max-width: 95%; /* Ajuste para dispositivos menores */
    padding: 10px;
    margin-left: 10px; /* Margem ajustada para telas menores */
    margin-right: 10px; /* Margem ajustada para telas menores */
  }

  td {
    height: 100px; /* Ajuste a altura para dispositivos menores */
  }

  .reservation {
    font-size: 12px; /* Ajuste o tamanho da fonte para dispositivos menores */
  }
}

