/* Modal Overlay: fundo escurecido */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content: centralizado e estilizado */
.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 660px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease both;
}

.combobox-container {
  max-height: 200px; 
  overflow-y: auto;  
}

/* Header do Modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Animação de fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Botão de Fechar o Modal */
.modal-close {
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 30px;
}

.modal-close:hover {
  color: #ff0000; 
}